@model PagedList.PagedList<DullStore.Models.SanPham>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="span9">
    <h3 style="font-family: 'Comic Sans MS'; font-size: 30px;">Sản phẩm Dull Store</h3>
    <ul class="thumbnails">
        @foreach (var item in Model)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/Home/ChitietSP?id=@item.ma"><img src="/Content/Image/@item.linkanh" alt="" /></a>
                    <div class="caption">
                        <h5>@item.ten</h5>
                        <h4 style="text-align:center">
                            <a class="btn" href="/Home/ChitietSP?id=@item.ma">
                                <i class="icon-zoom-in"></i>
                            </a>
                            <a class="btn" href="/ShoppingCart/AddGioHang?id=@item.ma">
                                Thêm vào<i class="icon-shopping-cart"></i>
                            </a>
                            <a class="btn btn-primary" href="#">
                                @{
                                    var giaBan = String.Format("{0:0,0}", item.giaban);
                                    @giaBan
                                } VNĐ
                            </a>
                        </h4>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<div class="pagination">
    @Html.PagedListPager(Model, trang => Url.Action("Index", new { trang = trang }))
</div>