@using DullStore.Models

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align: center">Xin chào @(((Account)Model).taikhoan)</h1>